/roomfinder_site/.on-save.json
/roomfinder_site/fonts
/checker_script/ftp
/checker_script/venv
/checker_script/roominfo.log
data.json
/checker_script/__init__.py
/.idea
/roomfinder_site/js/DataTables
/roomfinder_site/js/jquery-ui.min.css
/roomfinder_site/js/jquery.ui.touch-punch.min.js
/roomfinder_site/js/jquery-ui.min.js
/roomfinder_site/js/jquery-3.6.0.min.js
